        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /*--------body----------*/
        
        body {
            /* background-color: #333;*/
            color: #fff;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: 400;
            line-height: 1.5;
        }
        /*-------------navbar--------*/
        
        #navbar {
            width: 100vw;
            border-bottom: 2px solid #007bff;
            display: flex;
            position: fixed;
            background-color: #333;
            opacity: 0.8;
            top: 0;
        }
        
        #nav-container {
            padding: 1.5%;
            width: 100vw;
            display: flex;
            justify-content: center;
        }
        
        ul li {
            list-style: none;
            display: inline-block;
            margin-left: 3%;
        }
        
        a {
            text-decoration: none;
            color: white;
        }
        
        #logo {
            padding-left: 5%;
            font-size: 20px;
        }
        
        #navbar-ul {
            display: flex;
            width: 100vw;
            margin-left: 60%;
            justify-content: right;
        }
        /*--------------------header---------------*/
        
        .home-img {
            background-image: url("img/home.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center center;
            background-origin: border-box;
            background-size: 100vw 100vh;
            /*opacity: 0.8;*/
        }
        /*------------left side-------*/
        
        #inner-box {
            width: 99vw;
            /* background-color: #333;*/
            opacity: 0.8;
            height: 50%;
        }
        
        .container {
            padding-top: 15%;
            background-color: #333;
            height: 30%;
            width: auto;
            overflow: hidden;
            padding-left: 7%;
        }
        
        h1 {
            font-weight: 80;
            font-size: 50px;
            margin-bottom: 2%;
        }
        
        .rows {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto auto;
            margin-right: 8%;
            width: 100%;
            ;
        }
        
        .div-content {
            font-size: 17px;
            margin-bottom: 6%;
            display: grid;
            grid-template-columns: auto auto auto;
            color: whitesmoke;
        }
        
        .icons {
            padding-left: 20%;
            margin-right: 40%;
        }
        
        .icons i {
            padding: 5%;
            size: 50%;
            color: #007bff;
            background-color: #fff;
            border-radius: 10px;
        }
        
        #content {
            margin-right: 10%;
            text-align: left;
            padding-right: 10%;
            padding-left: 5%;
            width: 100%;
        }
        /*----------right side----*/
        
        .form-div {
            padding-right: 9%;
            padding-top: 6%;
            background-color: #007bff;
            padding-left: 6%;
            margin-right: 50%;
            width: 68%;
            margin-bottom: 90%;
            border-radius: 5px 5px 5px 5px;
            padding-bottom: 4%;
            font-size: 20px;
            box-shadow: 2px 2px 2px #007bff;
            box-sizing: border-box;
        }
        
        .form-div p {
            padding-bottom: 4%;
        }
        
        form input {
            padding: 5%;
            width: 108%;
            margin-bottom: 5%;
            border-radius: 5px;
            font-size: 20px;
            border: 2px solid white;
        }
        
        form input[type="submit"] {
            background-color: #007bff;
            padding: 3%;
            color: white;
        }
        
        form input[type="submit"]:hover {
            background-color: white;
            color: black;
        }
        /*-------------section head--------------*/
        
        #container {
            display: flex;
            justify-content: center;
            justify-items: center;
            background-color: #333;
            padding: 2%;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        
        .row1 h1 {
            text-align: center;
            font-weight: 200;
            font-size: 70px;
        }
        
        .row p {
            text-align: center;
        }
        
        .row1 button {
            width: 15%;
            padding: 1%;
            border: 1px solid #6c757d;
            border-radius: 5% 5% 5% 5%;
            position: relative;
            left: 43%;
            margin-top: 1%;
            background-color: transparent;
            color: #6c757d;
            cursor: auto;
            box-shadow: 2px 2px #6c757d;
        }
        
        .row1 button:hover {
            background-color: #6c757d;
            color: #fff;
        }
        
        .row1 pre {
            line-height: 1.5;
            font-size: 18px;
            ;
        }
        /*--------------section-explore-----------*/
        
        #container2 {
            overflow: hidden;
        }
        
        .row2 {
            display: grid;
            grid-template-columns: 50% 50%;
            background-color: #fff;
            color: black;
        }
        
        .row2 img {
            border-radius: 50%;
            width: 80%;
            margin: 10%;
        }
        
        .cover-content4 {
            display: grid;
            display: flex;
            grid-template-rows: 50% 50%;
        }
        
        .icon1 {
            padding: 1%;
        }
        
        .col-22 h3 {
            color: #343a40;
            font-size: 30px;
            margin-top: 10%;
            margin-bottom: 1%;
        }
        
        .cover-content4 {
            grid-area: auto;
            padding-bottom: 5%;
        }
        
        .col-22 p {
            padding-bottom: 6%;
        }
        
        .icon1 {
            padding-right: 6%;
            color: white;
        }
        
        .icon1 i {
            background-color: #333;
        }
        /*---------------------section -create----------*/
        
        #container3 {
            display: flex;
            justify-content: center;
            justify-items: center;
            background-color: #007bff;
            padding: 2%;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        
        .row4 h1 {
            text-align: center;
            font-weight: 200;
            font-size: 70px;
        }
        
        .row p {
            text-align: center;
        }
        
        .row4 button {
            width: 15%;
            padding: 1%;
            border: 1px solid #fff;
            border-radius: 5% 5% 5% 5%;
            position: relative;
            left: 43%;
            margin-top: 1%;
            background-color: #007bff;
            color: white;
            cursor: auto;
            box-shadow: 2px 2px #6c757d;
        }
        
        .row4 button:hover {
            background-color: white;
            color: black;
        }
        
        .row4 pre {
            line-height: 1.5;
            font-size: 18px;
        }
        /*------------------create ur passion-----------*/
        
        #container5 {
            overflow: hidden;
        }
        
        .row5 {
            display: grid;
            grid-template-columns: 50% 50%;
            background-color: #343a40;
            ;
            color: #fff;
        }
        
        .row5 img {
            border-radius: 50%;
            width: 80%;
            margin: 10%;
        }
        
        .cover-content1 {
            display: grid;
            grid-template-rows: 50% 50%;
        }
        
        .icon2 {
            padding: 1%;
        }
        
        .col-33 h3 {
            color: #fff;
            font-size: 30px;
            margin-top: 10%;
            margin-bottom: 1%;
        }
        
        .cover-content2 {
            display: flex;
            grid-area: auto;
            padding-bottom: 5%;
        }
        
        .col-33 p {
            padding-bottom: 6%;
        }
        
        .icon2 {
            padding-right: 10%;
            color: white;
        }
        
        .icon2 i {
            background-color: #333;
        }
        
        .col-33 {
            padding-left: 15%;
        }